/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body  */
body {
  font-family: "Poppins", sans-serif;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  text-align: center;
}

/* Outer container */
.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Sidebar  */
.sidebar {
  max-width: 120px;
  margin: 20px 0px;
  margin-right: 20px;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  z-index: 2;
}

/* Label */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(38, 70, 83, 0.7);
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Size field Container */
.size {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

/* Increase and Decrease Button */
#increase,
#decrease {
  width: 35px;
  height: 30px;
  font-size: 20px;
  background-color: rgba(173, 181, 189, 0.5);
  border: none;
  color: white;
  transition: border-color 0.3s;
}

#increase:hover,
#decrease:hover {
  border: 1px solid white;
}

#increase {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#decrease {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Size Input Field */
.input-field {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  text-align: center;
  transition: border-color 0.3s;
  background-color: rgba(173, 181, 189, 0.5);
}

/* To remove the arrow up/down from the size input field */
.input-field::-webkit-inner-spin-button,
.input-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.color-picker {
  border: none;
  width: 32px;
  height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

button {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: white;
}

#clear {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: white;
}

.toolbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  height: 100%;
}

canvas {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  z-index: 1;
}
